/* * {
    border: 1px solid red;
} */


@media screen and (max-width: 1080px) {
    .* {
        max-width: 1080px;
        /* min-height: 962px; */
        /* margin: 0 auto 92px; */
        margin: 0 auto 92px;
    }
}



@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Regular.woff2") format("woff2"),
        url("./vendor/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./vendor/fonts/Inter-Black.woff2") format("woff2"),
        url("./vendor/fonts/Inter-Black.woff") format("woff");
}


.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #2A2C2F;
    padding: 0;
    /* text-rendering: optimizeLegibility; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__container {
    box-sizing: border-box;
    max-width: 1280px;
    /* min-width: 320px; */
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.header {
    max-width: 1184px;
    /* min-height: 52px; */
    padding: 0;
    margin: 26px auto 58px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    box-sizing: border-box;
    align-items: end;
}



.header__logo {
    box-sizing: border-box;
    width: 176px;
    height: 52px;
    background-image: url("./images/__logo.png");
    background-size: contain;
    background-repeat: none;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        background-size: cover;
        
    }
}

.lang {
    /* display: flex; */
    /* align-self: flex-end; */
    padding-bottom: 3px;
}


.link {
    opacity: 1;
    transition: opacity .3s ease;
    }

    .link:hover {
        opacity: .8;


    }

.header__lang-link {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /* width: 30px;
    height: 28px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-decoration: none;
    transition: opacity .5s ease;
}

.header__lang-link:first-of-type {
    margin-right: 8px;
    text-decoration: underline;
}

.header__lang-link:last-of-type {
    padding-left: 6px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}


.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* position: relative;
    display: flex;
    flex-direction: column; */

}

.lead {
    box-sizing: border-box;
    position: relative;
    max-width: 984px;
    /* min-height: 1005px; */
    padding: 0;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.lead__title {
    margin: 0 auto 32px;
    padding: 0;
    max-width: 720px;
    /* height: 200px; */
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
}

.lead__title:first-letter {
    text-transform: uppercase
}



.lead__subtitle {
    padding: 0;
    margin: 0 auto 63px;
    max-width: 640px;
    /* height: 72px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* position: relative; */
    text-align: center;
    color: #FFF;
}
.lead__subtitle:first-letter {
    text-transform: uppercase
}



.lead__image {
    box-sizing: border-box;
    width: 100%;
    min-height: 615px;
    background-image: url("./images/lead-polka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 auto 8px;
}


.lead__caption {
    margin: 0;
    padding: 0;
    /* max-width: 158px; */
    /* height: 14px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    /* text-align: start;
    align-self: flex-start; */
    color: #FFF;
    /* box-sizing: border-box; */
}


.intro {
    /* position: relative; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 1px;
    max-width: 690px;
    /* min-height: 429px; */
    margin: 0 auto 92px;
    margin-left: 147px;
    /* display: flex;
    flex-direction: column;
    text-align: left; */
}


.intro__title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 690px;
    /* min-height: 58px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
}


.intro__text {
    padding: 0;
    margin: 0 auto 32px;
    max-width: 690px;
    /* height: 208px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFF;
}


.intro__list {
    margin: 0;
    padding: 0 0 0 1px;
    max-width: 690px;
    /* min-height: 90px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    list-style-type: none;
}


.intro__list li:nth-child(1)::after {
    content: "11";
    font-weight: 400;
}

.intro__list li:nth-child(2)::after {
    content: "12";
    font-weight: 400;
}

.intro__list li:nth-child(3)::after {
    content: "16";
    font-weight: 400;
}

.intro__list li:nth-child(4)::after {
    content: "105";
    font-weight: 400;
}

.intro__list li:nth-child(5)::after {
    content: "241";
    font-weight: 400;
}



@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        
    }
}

.photo-grid {
    /* position: relative; */
    box-sizing: border-box;
    display: grid;
    margin: 0 auto 92px;
    padding: 0;
    max-width: 1184px;
    /* min-height: 671px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px 16px;
}


.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.places {
      box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 92px;
    margin-left: 147px;
    
    padding: 0;
    max-width: 984px;
    /* min-height: 3392px; */
}
/*
.place {
    box-sizing: border-box;
    max-width: 984px;
    /* min-height: 660px; */
    padding: 0;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: max-content max-content;
    gap: 48px 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}


.place__title {
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
    margin: 0;
    padding-left: 3px;
    padding-right: 3%;
    max-width: 460px;
    /* height: 152px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    text-align: left;
    }
.place__title::first-letter {
    text-transform: uppercase;
}

.place__website {
    margin: 0;
    padding: 0;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 456px;
    /* min-height: 46px; */
    /* text-align: left; */
}

/* @media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
        /* min-height: 46px; */
    }
}


.place__url-heading {
    /* height: 12px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAA;
    padding: 0;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.place__link {
    /* height: 22px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFF;
}



.place__image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* grid-column: 1/2; */
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place__paragraph {
    box-sizing: border-box;
    margin: 0 0 25px;
    padding: 0;
    padding-left: 1px;
    max-width: 484px;
    /* height: 145px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFF;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}


.cover {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 92px;
    max-width: 1184px;
    /* min-height: 740px; */
}
.cover__title {
    padding: 0;
    margin: 245px auto 32px;
    max-width: 560px;
    /* min-height: 152px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFF;
}
.cover__subtitle {
    padding: 0;
    margin: 0 auto 245px;
    max-width: 360px;
    /* min-height: 66px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
}
.cover__background {
    /* position: relative; */
    box-sizing: border-box;
    max-width: 1184px;
    /* min-height: 740px; */
    background-image: url("./images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    z-index: 0;
}


.cover__background::before {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover__background:hover::before {
    opacity: .8;
}

.footer {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto 24px;
    max-width: 1184px;
    /* min-height: 18px; */
    display: flex;
    justify-content: space-between;
     align-items: center;
    /* flex-wrap: wrap; */
}
.footer__link {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-right: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:last-of-type {
    margin: 0;
}


.footer__copyright {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}